	  body{
            background-color:#000000;
            padding:10px 10px 10px 10px;
		    margin-left:20%;
		    margin-right:20%;
           }
	   #main {
		   min-height: 800px;
		   margin: 0px;
		   padding: 0px;
		   display: -webkit-flex;
		   display: flex;
		   -webkit-flex-flow: row;
		   flex-flow: row;
	   }
	   nav,footer{
		   margin-left:auto;
		   margin-right:auto;
		   margin-top: 100px;
		   color:#F6F6F6;
	   }
	   article{
		   color:#F6F6F6;
	   }
	   article > div {
		   text-align:justify-all;
	   }
	   nav > p > a {
		   text-decoration:none;
	   }
	   #top{
		   font-size: 25px;
	   }
	   #total-description {
		   font-style: italic;
		   padding:10px;
		   margin:20px;
	   }
	   a:link {
		   color:#F6F6F6;
	   }
	   a:hover {
		   color:darkred;
	   }
	   a:visited {
		   color: gray;
	   }
	   a:active {
		   color:darkred;
	   }
