	  body  {
	      font-family:Verdana,Geneva,Arial,sans-serif; 
	      background-color:#F6F6F6;
	      margin-left:5%;
	      margin-right:5%;
	      padding:10px 10px 10px 10px;
	  }

	  a:link {
		  color:black;
	  }
	  a:hover {
		  color:darkred;
	  }
	  a:visited {
		  color: gray;
	  }
	  a:active {
		  color:darkred;
	  }
	  
