body  {
	font-family:copperplate,Serif;
}
#backgro {
	margin:0px auto;
}
.header {
	padding:0px 51px 0px 51px;
	text-decoration:none;
}
#header {
	text-align:center;
	background-color:white;
}
#email,#descrip {
	font-family:Copperplate,Serif;
	color:#494848;
}
#email {
	font-size: 16px;
}
#descrip{
	font-size: 12px;
}
#middle {
	text-align:center;
}
#footer{
	text-align:center;
}
a:link {
	color:#494848;
}
a:hover {
	color:#fcddd7;
}
a:visited {
	color: darkred;
}



