body  {
	font-family:copperplate,Serif;
}
#backgro {
	margin:0px auto;
}
.header {
	padding:0px 51px 0px 51px;
	text-decoration:none;
}
#header {
	text-align:center;
	background-color:white;
}
#email,#descrip {
	font-family:Copperplate,Serif;
	color:#494848;
}
#email {
	font-size: 16px;
}
#descrip {
	font-size: 12px;
}
#middle {
	text-align:center;
}
footer {
	text-align:center;
}
div#header > a {
	transition: font-size 1s;
	-moz-transition: font-size 1s;	/* Firefox 4 */
	-webkit-transition: font-size 1s;	/* Safari 和 Chrome */
	-o-transition: font-size 1s;	/* Opera */
}
a:link {
	color:#494848;
}
a:hover {
	color:#fcddd7;
	font-size:20px;
}
a:visited {
	color: darkred;
}



